global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "genre_game_inference"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]
        labels:
          service: "genre_game_inference"
